* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7e29e;
    color: #756b4b;
}

form {
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
}

label,
input {
    display: block;
}

input {
    width: 250px;
    height: 40px;
    padding: 5px 10px;
    outline: none;
}

label {
    margin: 20px 0 5px 0;
}

div {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-simpan {
    outline: none;
    background-color: #77a9fa;
}

.btn-back {
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: #c2a442;
}
