* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7e29e;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 40px;
}

.info {
    background-color: #fbf08f;
    padding: 5px 10px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

thead {
    background-color: #d6c794;
}

tr th {
    text-transform: uppercase;
}

table,
th,
td {
    border: 1px solid #786e4d;
    border-collapse: collapse;
}

table {
    margin-top: 10px;
}

th,
td {
    padding: 10px;
}

tbody tr td:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-edit {
    text-decoration: none;
    background-color: #3bad43;
    color: white;
    margin-right: 5px;
}

.btn-hapus {
    background-color: #e0353b;
    outline: none;
    border: none;
}

.btn-tambah {
    background-color: #77a9fa;
    text-decoration: none;
    color: white;
    position: static;
    margin-top: 20px;
    display: inline-block;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
